@charset "UTF-8";

.container{
	overflow: auto;
	scroll-snap-type : y mandatory;
	height: 100vh;
}



/* 1구역 1구역 1구역 1구역 1구역 1구역 1구역 1구역 1구역 1구역 1구역 1구역 */
section{
	
	height: 100vh; 						/* 뷰포트 높이 */
	scroll-snap-align : start;
	background-size: cover;				/* 화면 비율 유지 - > 전체 화면 채우기*/
 	background-position: center center;	/* 가로 세로 모두 센터 ( 이 예쩨로는 차이가 없음 ) */
	background-repeat: no-repeat;		/* 커버를 써서 자동채우기도 차이가 없음 */
}

.title{
	font-family: 'Aboreto', cursive;
	font-size: 7rem;
	margin-bottom: 2rem;
}
.title1{
	font-family: 'Aboreto', cursive;
	font-size: 15rem;
	margin-bottom: 2rem;
	text-shadow: 0 0 10px;
	color: red;
}

.hero{
	background-image: url("images/포르쉐1.jpg");
	text-align: center;
	padding-top: 10vh;
}
.dis{
	padding : 45vh;
	font-size: 3rem;
	font-style: italic;
	font-weight: bold;
} 

/* 2구역 2구역 2구역 2구역 2구역 2구역 2구역 2구역 2구역 2구역 2구역 2구역 2구역 */


.model{
	background-image: url("images/포르쉐배경.webp");
	display: inline-block;
	width : 100%;
}
.modellist{
	text-align: center;
	display: flex;
}
.model1{
	width : 50%;
	color: white;
}
.modelname{
	font-size: 4vh;
	margin-bottom: 2vh;
}
.price{
	font-family: 'Aboreto', cursive;
	font-size: 3vh;
	margin-bottom: 5vh;
}
img{
	width : 80vh;
	margin-top: 5vh;
}
table{
	margin: 0 auto;
	text-align: left;
	font-size: 2.5vh;
	width: 50vh;
	font-family: 'PT Sans Narrow', sans-serif;
}
table td{
	border-bottom: 1px solid gray;
}

/* 3구역 3구역 3구역 3구역 3구역 3구역 3구역 3구역 3구역 3구역 3구역 3구역 3구역 */


.contact{
	background-image: url("images/포르쉐.jpg");
	color: white;
	text-align: center;
}
.com{
	margin: 0 auto;
	text-shadow: 2px 0px #5050ff, 0px -2px #50b4ff;
	color: black;
	font-family: 'Aboreto', cursive;
}
.tay{
	font-size: 8vh;
	margin-left: 12vh;
	text-shadow:  2px 0px #5050ff, 0px -2px #50b4ff;
	color: black;
	font-family: 'Aboreto', cursive;
	font-style: italic;
}
.date{
	margin-left : 13vh;
	font-size: 6vh;
	margin-bottom: 5vh;
	padding-top: 5vh;
	font-style: italic;
}

.contactsns{
	display: flex;
	margin-top: 65vh;
	color: #323232;






/* 미디어 쿼리 : 디바이스 화면 크기에 따라 css 적용*/
/* 화면이 가로 700px 밑으로 갈 때, 아래 항목에 조건들이 적용됨 */
/* 레이아웃을 또 자야해서 작업을 두배로 할 수 있음 */
@media (max-width:700px){
	.title{
		font-size: 4rem;
		color: skyblue;
	}
}

























