@charset "UTF-8";



*{
	border : 1px solid skyblue;
	margin: 0;
	padding : 0;
	box-sizing: border-box;
}
body{width: 1200px;}


/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ H E A D ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ H E A D ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ H E A D ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

.cal{
	margin : 0 atuo;
	text-align : center;
	width: 780px;
	background-color: #FEFCFF;
}

.head{
	display: flex;
	margin : 0 auto;
	height: 100px;
	align-items: center;
	background-color: #FFF;
}
.head h3{
	width:300px;
	font-size: 40px;
	
}

.left_btn{
	text-align : center;
	width : 200px;
	font-size: 50px;
	color: skyblue;
}
.right_btn{
	text-align: center;
	width : 200px;
	font-size: 50px;
	color: skyblue;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ W E E Kㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ W E E Kㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ W E E Kㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.week{
	display: flex;
	flex-wrap: wrap;
}
.week div{
	width : 99.4px;
	height : 100px;
	font-style: italic;
	color: black;
	font-weight: bold;
	margin: 5px;
	background-color: #FFF;
}
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ D A Y ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ D A Y ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ D A Y ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */	
.days{
	display: flex;
	flex-wrap: wrap;
}
.days div{	
	width : 99.4px;
	height : 100px;
	text-align: left;
	margin: 5px;
	background-color: #FFF;
	
}
.today{
	color: red;
}
.prevDay{
	color: gray;
}
.nextDay{
	color: gray;
}


