@charset "UTF-8";



/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ 헤 더 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

body{
	color : #949087;
	font-family: '굴림';
	background-image:url("images/백그라운드.png");
}
header{
	max-width : 1000px;
	margin: 0 auto;
	background-image:url("images/header.svg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	height: 170px;
}
.page_title{
	font-size: 30px;
	font-family: '굴림';
	text-align: center;
	margin : 50px 0px;
}

.page_desc{
	font-size: 15px;
	font-family: '굴림';
	text-align: center;
	margin-top: 50px;
}


/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

.container{
	max-width: 1000px;
	margin: 0 auto;
	background-color: #ffffff;
	border-radius: 0 0 10px 10px;
	
}


/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */


.post_title{
	padding-bottom: 10px;
	background-size: 6px 6px;
	margin-bottom: 1.5rem;
	background-image: linear-gradient(45deg, #fff 30% , #ccc 30%, #ccc 50%, #fff 50%, #fff 80%, #ccc 80%, #ccc 100%);
}

.post_title h2{
	background-color: #ffffff;
	padding : 0 0.5rem .875rem;
	font-size: 1.5rem;
	font-family: '굴림';
	font-weight: 500;
	line-height: 1.5;
}

.post_title a{
	color: #949087;
	text-decoration: none;
}


.post_img{
	width: 100%;
	height: 260px;
	object-fit : cover;
	border-radius: 40% 70% 50% 30% / 50%
						/* 가로 각각 / 세로 50%통일 */
	
}

.post_thumb{
	position: relative;
	
}
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ버튼 버튼 버튼ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ버튼 버튼 버튼ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ버튼 버튼 버튼ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

.btn{
	color: #fff ;
	padding: 10px 20px;
	background-color: #eda1a1;
	
	box-shadow:  0 0 0 5px #eda1a1;
	/* x축 y축 그림정도 확대/축소정도  색상 */
	
	border: 2px dashed #e38787;
	border-radius: 5px;
	text-decoration: none;
	display: inline-block;
}
.btn a:hober{
	color: #fff;
	background-color: #e38787;
	box-shadow: 0 0 0 5px #e38787;
	border: 2px dashed #eda1a1;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ가상 요소로 글머리 번호 만들기ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ가상 요소로 글머리 번호 만들기ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ가상 요소로 글머리 번호 만들기ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

article ul li::before {
	content : '';
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #e38787;
	display: inline-block;
	margin: 0 8px 2px 0;
}

ol li{
	counter-increment: list; /* 요소의 연속 값을 세는 속성 */
}

article ol li::before{
	content : counter(list);		/* 위의 counter-increment 의 값과 동일하게 넣어야 함 */
	color: #93DFB8;
	display: inline-block;
	margin-right: 8px;
}
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ 인 용 구 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ 인 용 구 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ 인 용 구 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
/* 인용문 작성할 때, blockquote은 기본적으로 tab이 들어가는데 css기초초기화를 했기 때문에 div와 별 다르지 않음 */

article blockquote{
	position: relative;
	padding : 1rem 3rem 1rem 3rem;
	margin-bottom: 1rem;
} 

article blockquote::before ,
article blockquote::after{
	font-size : 6rem;
	font-family : 'Noto Sans Kr' , sans-serif;
	position: absolute;
	color : #cccccc;
	line-height : 0;
}
article blockquote::before{
	content: '\201C';
	top : 2.5rem;
	left: 0;
}
article blockquote::after{
	content: '\201D'; 
	bottom: .5rem;
	right: 0;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ 인 용 구 2 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ 인 용 구 2 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ 인 용 구 2 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
/* 인용문 작성할 때, blockquote은 기본적으로 tab이 들어가는데 css기초초기화를 했기 때문에 div와 별 다르지 않음 */

article .ddd{
	position: relative;
	padding : 3rem;
} 

article .ddd::before ,
article .ddd::after{
	content : '';
	width : 40px;
	height : 40px;
	position: absolute;
	line-height : 0;
}
article .ddd::before{
	border-top : 2px solid #ccc;
	border-left : 2px solid #ccc;
	top : 0;
	left: 0;
}
article .ddd::after{
	border-bottom : 2px solid #ccc;
	border-right : 2px solid #ccc; 
	bottom: 0;
	right: 0;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ 페이지네이션 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ 페이지네이션 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ 페이지네이션 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

.pagination{
	display: flex;
	justify-content: center;
	font-family: 'Noto Sans Kr' , sans-serif;
	font-size: 1.5rem;
	text-align: center;
}
.pagination a{
	width: 36px; height: 36px;
	border-radius: 50%;
	padding-top: 4px;
	margin: 0 6px;
	display: inline-block; /* 인라인은 36px 36px 사이즈 조절이 안되서 인라인블럭으로 해야함 */
}

.pagination .current{
	background: #ccc;
	color: #fff;
}
.pagination a:hover{
	background: skyblue;
	color: black;
}


/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ 사이드바  ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ 사이드바  ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ 사이드바  ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
/* 미디어 쿼리 aisde가 26% 할당되어 있슴 */
 
.side_box{
	margin-top : 50px; 
	border: 1px solid #ccc;
	border-radius: 6px;
	outline : 2px solid red;			/* 바깥테두리 */
	outline-offset : 4px;				/* 바깥테두리 간격 */
	padding: 0.875rem;
	margin-bottom : 4rem;
	position: relative;					/* 발바닥 모양 배치를 위함 */
}

.side_box::before{	
	
	width : 2rem; height : 2rem;
	text-align : center;
	position : absolute;
	top : -1rem;						/* 테두리에 겹치기를 하기 위해서 */
	left : 0 ;							
	right : 0 ;
	margin : 0 auto;
	background-color : #ffffff;
	border : 1px solid white;			/* 발바닥 테두리 원형 */
	border-radius : 50%;
	
	
	font-family: "Font Awesome 5 Pro";
	content : '\f1b0';
	font-weight: 900;
	font-size: 1.5rem;
	color : #949087;
}






/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ미디어쿼리ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ미디어쿼리ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ미디어쿼리ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

  /* 미디어 쿼리 : 디바이스 크기에 따랄 css 설정 */
  /* min-width : 600px; >>> 최소 가로사이즈 600px
  		600 이상에서 사용되는 css
  	 max-width : 600px; >>> 최대 가로사이즈 600px
  		600 이하세어 사용되는 css
  	 max-height : 600px; >>> 최대 세로사이즈 600px
  		600 이하에서 사용되는 css
  	*/
  
@media (min-width:600px){
	.container{
		display: flex;
		justify-content: space-between;
	}
	main{
		width : 68%;
	}
	aside{
		width : 26%
	}
	.post_img{ /* 이미지 고정 사이즈 >> 비율이 깨짐 >> 위에 object-fit : cover; 로 조절 */
		width: 220px;
		height: 180px;
	}
	.post_thumb{
		margin : 0 3rem 1rem 0 ;
		shape-outside : circle();
		/* shape-outside : circle(); 텍스트를 원형 이미지 형태를 감싸면서 글배치 */
		float: left;
	}
}
