@charset "UTF-8";

body{
	background-image: url("images/bread2.png") , url("images/bread2.png");
	background-position: left top , right top;
					/* 첫번째 이미지 , 두번째 이미지 */
	background-repeat: no-repeat;
	text-align: center; 
} 